@model ProyectoAppWeb.Models.Producto2

<div class="container">
    <div class="row">
        <div class="text-center"><div class="display-3">Formulario de registro de producto</div></div>
        <div class="col-4"></div>
        <div class="col-4">
            <form asp-controller="FormArchivo" asp-action="Guardar2" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td>
                            <input type="text" asp-for="Id">
                        </td>
                    </tr>
                    <tr>
                        <td>Nombre</td>
                        <td>
                            <input type="text" asp-for="Nombre">
                        </td>
                        <td>
                            <span asp-validation-for="Nombre"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td>
                            <input type="text" asp-for="Precio">
                        </td>
                        <td>
                            <span asp-validation-for="Precio"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Fotos</td>
                        <td>
                            <input type="file" name="fotos" multiple="multiple">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="btn btn-success" type="submit" value="REGISTRAR">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>