<h3>Datos del producto</h3>
<table class="table table-primary">
    <tr>
        <td>ID</td>
        <td>@ViewBag.producto.Id</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>@ViewBag.producto.Nombre</td>
    </tr>
    <tr>
        <td>Precio</td>
        <td>@ViewBag.producto.Precio</td>
    </tr>
    <tr>
        <td>Fotos</td>
        <td>
            @foreach (var f in ViewBag.producto.Fotos)
            {
                <img src="~/imagenes/@f" width="100px">
            }
        </td>
    </tr>
</table>
