<link href="~/css/estilo.css" rel="stylesheet" type="text/css"/>
<script src="~/js/script.js"></script>
<h3 class="formato">Página de archivos</h3>
<img src="~/imagenes/mapachetexas.jpg" alt="Un mapache texano" onclick="clic()" />