<h3>ejemplos de Parámetros en Route</h3>

<a asp-controller="ParametrosRoute" asp-action="Ejemplo1" asp-route-ci="123">Ejemplo 1</a>
<a asp-controller="ParametrosRoute" asp-action="Ejemplo2" asp-route-basee="20" asp-route-altura="10">Ejemplo 2</a>