<h2>Ejemplos de Query String en URL</h2>
<a asp-controller="ParametrosQueryString" asp-action="Ejemplo1" asp-route-id="4321">Ejemplo 1</a>
<br>
<a asp-controller="ParametrosQueryString" asp-action="Ejemplo2" asp-route-id="888" asp-route-n="Pepe Perales">Ejemplo 2</a>
<br>
<a asp-controller="ParametrosQueryString" asp-action="Ejemplo2" asp-route-id="777" asp-route-n="Ana Rosa">Ejemplo 3</a>